@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        
.container{
    width: 90%;
    margin: auto;
}

body{
    font-family: "Roboto", sans-serif;
    
}

.img-shadow{
    box-shadow: 0 0 15px #ea580c;
}

.input-shadow{
    box-shadow: 0 0 6px  black;
    background-color: whitesmoke;
}

html{
    scroll-behavior: smooth;
}